.BoxforFAuf{
    width: 170px;
    height: 40px;
    background: greenyellow;
    margin: 10px;
}

.BoxforFC{
    width: 170px;
    height: 20px;
    background: yellow;
    margin: 10px;
}

.BoxforSW{
    width: 170px;
    height: 20px;
    background: red;
    margin: 10px;
}